# Unity Files
/[Ll]ibrary/
/[Ll]ogs/
/[Tt]emp/
/[Uu]ser[Ss]ettings/

# Unity Files
*.meta
Unity_lic.alf
/temp
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/UIElementsSchema/
/TestResults**.xml

# Node Files
package.json
yarn.lock
node_modules

# VS Extensions
**/*.vs
**/.vscode/

# Misc


# C# Files
**/*.sln
Assembly-CSharp-Editor.csproj

# Misc
*.md
!README.md
*.tmp.driveupload*
**/*.scratch
**/dump
**/.DS_Store
**/*.ini
*.bak
*.log
