# Unity Files
/[Ll]ibrary/
/[Ll]ogs/
/[Tt]emp/
/[Uu]ser[Ss]ettings/

# Unity Files
*.meta
Unity_lic.alf
/temp
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/UIElementsSchema/
*[Tt]est*[Rr]esults*.xml
*[Tt]est*[Ll]og*

# Node Files
package.json
yarn.lock
node_modules

# VS Extensions
**/*.vs
**/.vscode/

# Misc
.vsconfig

# Assets - local files not tracked in source control
Assets/Resources/Art/
Assets/Resources/Audio/
Assets/Resources/Videos/
Assets/TextMesh Pro/

# C# Files
**/*.sln
**/*.slnx
Assembly-CSharp-Editor.csproj
EditMode.csproj

# Misc
*.md
!README.md
*.tmp.driveupload*
**/*.scratch
**/dump
**/.DS_Store
**/*.ini
*.bak
*.log
